@import '@lyno/components/dist/styles/variables';
@import '@lyno/components/dist/styles/reset';

.lyno-plugin {
  color: rgba(var(--sidebar-text-rgb), 0.6);
  margin-bottom: 8px;

  &__headline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 16px;
  }

  &__privacy-hint {
    padding: 0 17px;
    text-align: center;
    font-size: 13px;
    margin-bottom: 12px;

    a {
      text-decoration: underline;
      color: inherit;

      &:hover {
        color: #fff;
      }
    }
  }

  &__privacy-button {
    background: rgba(255, 255, 255, 0.16);
    color: #fff;
    line-height: 28px;
    padding: 0 15px;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
  }
}
